<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>That's My Cut!</title>
  </head>
  <body>
    <div class="container">
      <h1>That's My Cut!</h1>
      {% if clients is not empty %}
      <h4><a href="/stylists/{{ stylist.getId }}/edit">{{ stylist.getStylistName }}'s</a> clients:</h4>
        <ul>
          {% for client in clients %}
            <li><a href="/clients/{{ client.getClientId }}/edit">{{ client.getClientName }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>There are no clients yet!</p>
      {% endif %}
      <p>Add a client to this stylist:</p>
      <form action="/clients" method="post" class="form-group">
        <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
        <label for="name">Your name:</label>
        <input type="text" name="name" id="name" class="form-control">
        </br>
        <button type="submit" class="btn btn-primary" name="button">Add client</button>
      </form>
      <form class = "form-inline" action="/" method="get">
        <div class="form-group">
          <button class = "btn btn-primary" type="submit">Home</button>
        </div>
      </form>
    </div>
  </body>
</html>
